@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-bottom {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 0% 100%;
              transform-origin: 0% 100%;
      opacity: 1;
    }
  }
  @keyframes color-change-3x {
    0% {
      background: #19dcea;
    }
    50% {
      background: #b22cff;
    }
    100% {
      background: #ea2222;
    }
  }
  @keyframes vibrate-1 {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
    }
  }
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }


body {
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    background-color: #a5d6f6;
    border: 4px solid black;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);

    /* Tipografía */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}

html {
    height: --webkit-fill-available;
}

main {
    background: linear-gradient(180deg, #1A2A35 15%, #484785 100%);
    padding-bottom: 5rem;
  }

article {
    padding-left: 5%;
    padding-right: 5%;
}
img {
    display: block;
    margin: 0 auto;
}

h2 {
    padding-top: 3.5rem;
    animation: appearH2 linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
    font-size: 2rem;
}

@keyframes appear {
    from{
        opacity: 0;
        scale:0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes appearH2 {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

main p{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.Banner {
    width: 100%;
    position: relative;
    mask-image: linear-gradient(black 80%, transparent);
}

.Logo {
    width: 25%;
    max-width: 400px;
    border: 3px solid black;
    border-radius: 50%;
    position: static;
    position: relative;
    z-index: 2;
    margin-top: -3.5rem;
    margin-bottom: -1.2rem;

    /* Animación */
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.AkiDev {
    font-size: 2.3rem;
    margin-bottom: -1.0rem;

    /* Animación */
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.FrontEnd_Developer {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    font-weight: 200;
    padding-left: 5%;
    padding-right: 5%;


    -webkit-animation: scale-in-ver-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-ver-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.RedesSociales {
    display: flex;
    a {
        display: flex;
        width: 20vw;
        height: 13vw;
        max-height: 80px;
        margin: 0 auto;
    }

    animation: color-change-3x 4s linear infinite alternate both;

    margin-bottom: 6.5rem;
    
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 20px;

   
}
.Botón {
    border: none;
    cursor: pointer;

    margin-left: 5%;
    margin-right: 5%;

    padding-top: 1rem;
    padding-bottom: 1rem;

    width: 90%;
    border: 2px solid black;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    animation: vibrate-1 0.4s linear infinite both;
  
}

footer {
    color: black;
    border-top: solid 3px;
    font-size:13px;
    a {
        text-decoration: none;
        cursor: pointer;
    }
}

footer p:last-child {
  color: #1A2A35;
  opacity: 0.9;
}

