body {
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    background-color: #a5d6f6;
    border: 4px solid black;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);

    /* Tipografía */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: white;
}
.Contenido {
    background: linear-gradient(180deg, #1A2A35 15%, #484785 100%);
    }

img {
    display: block;
    margin: 0 auto;
}

.Banner {
    width: 100%;
    position: relative;
    mask-image: linear-gradient(black 80%, transparent);
}

.Logo {
    width: 25%;
    max-width: 400px;
    border: 3px solid black;
    border-radius: 50%;
    position: static;
    position: relative;
    z-index: 2;
    margin-top: -3.5rem;
    margin-bottom: -1.2rem;
}

.AkiDev {
    font-size: 2.3rem;
    margin-bottom: -1.0rem;
}

.FrontEnd_Developer {
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
    font-weight: 200;
    padding-left: 5%;
    padding-right: 5%;
}
.RedesSociales {
    display: flex;
    a {
        display: flex;
        width: 20vw;
        height: 13vw;
        max-height: 80px;
        margin: 0 auto;
    }

    background-color: #6E8AC7;

    margin-bottom: 6.5rem;
    
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 20px;

   
}

.BotónMembresia {
    border: none;
    cursor: pointer;

    margin-left: 5%;
    margin-right: 5%;

    padding-top: 1rem;
    padding-bottom: 1rem;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

footer {
    color: black;
    a {
        text-decoration: none;
        cursor: pointer;
    }
}