/* ../css/estilos.css */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin: 20px auto;
    padding: 0 10px;
}

h2 {
    font-size: 1.8rem;
    color: #34495e;
    margin: 20px auto 10px;
    padding: 0 10px;
}

p {
    font-size: 1rem;
    margin: 10px auto;
    color: #555;
    max-width: 600px;
    padding: 0 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
    padding: 0 15px;
}

ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
    padding-left: 30px;
    position: relative;
}

ul li:before {
    content: '✔';
    color: #27ae60;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
}

a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* RESPONSIVIDAD */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    p {
        font-size: 0.95rem;
    }

    ul li {
        font-size: 0.95rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    p, ul li {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    p, ul li {
        font-size: 0.85rem;
    }

    ul {
        padding: 0;
    }

    iframe {
        width: 100%;
    }
}
